.git
.next
node_modules
logs
out
build
coverage

.env
.env.*
!.env.example

.DS_Store
*.bak
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

audit
audits
screenshots
playwright-report
test-results
